body, html {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.typing-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    margin: 0 2px;
  }
}

/* Apply background image to the whole page */
.login-page-background {
  background-image: url('../assets/images/yoga-poses.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Add additional global styles if necessary to ensure full coverage */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Responsive calendar positioning */
.calendar-position {
  position: relative; /* Changed from absolute for better responsiveness */
  margin-top: 2vh; /* Adjusted for responsiveness */
  margin-left: 2%; /* Adjusted for responsiveness */
}

.react-calendar {
  background-color: white;
  font-family: 'Work Sans', sans-serif;
  border-radius: 20px;
  margin-left: 4%;
  max-width: 40%; /* Allow calendar to use up to 95% of container width */
  width: auto; /* Use auto width for flexibility */
  /* Remove margin-top: -35%; which could interfere with responsiveness */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

/* Responsive modifications */
/* Responsive modifications */
@media (max-width: 768px) {
  .react-calendar {
    width: 100%; /* Use full width on smaller screens */
    max-width: 100%; /* Ensure it doesn't exceed the container width */
    margin-left: 0; /* Adjust as needed to align properly */
    /* Adjust height indirectly through padding or by controlling inner elements */
    margin-bottom: -60%; /* Example to control height indirectly */
  }
}

@media (max-width: 480px) {
  .react-calendar {
    /* Further adjustments for even smaller screens */
    padding: 5px; /* Example to control height indirectly */
  }
}



  /* Adjust font sizes, margins, etc., for smaller screens */

.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
/* .react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #F0F0F0;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #F0F0F0;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
